<section id="election-create">
  <div class="container">
    <div class="card-body">
      <button (click)="example()" class="btn btn-sm btn-success mt-3">
        Example Fill-In
      </button>
    </div>
    <br />

    <form [formGroup]="Candidates" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <select class="form-select">
          <option>Fill in or select a demo election</option>
          <option value="usaPresident">USA President election</option>
          <!-- <option value="anotherDemo1">todo: another</option>
          <option value="anotherDemo2">todo: another</option> -->
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">First Candidate</label>
        <input
          formControlName="nameCandidate1"
          type="text"
          placeholder="name Candidate 1"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Image First Candidate</label>
        <input
          formControlName="imageCandidate1"
          type="text"
          placeholder="imageUrl Candidate 1"
          class="form-control"
        />
        <a
          href="{{ Candidates.value.imageCandidate1 }}"
          target="_blank"
          class="btn btn-sm btn-warning mt-3"
          >Check image 1</a
        >
      </div>

      <div class="mb-3">
        <label class="form-label">Second Candidate</label>
        <input
          formControlName="nameCandidate2"
          type="text"
          placeholder="name Candidate 2"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="imageUrl2" class="form-label">Image Second Candidate</label>
        <input
          formControlName="imageCandidate2"
          type="text"
          placeholder="imageUrl Candidate 2"
          class="form-control"
        />
        <a
          href="{{ Candidates.value.imageCandidate2 }}"
          target="_blank"
          class="btn btn-sm btn-warning mt-3"
          >Check image 2</a
        >
      </div>

      <div class="d-flex justify-content-center">
        <button
          [disabled]="!Candidates.valid"
          type="submit"
          class="btn btn-sm btn-secondary mt-3"
        >
          Submit candidates
        </button>
      </div>
    </form>
  </div>
</section>
