<nav id="simple-navbar" class="navbar navbar-expand-md bg-light">
  <div class="container">
    <a href="#" class="navbar-brand">Metamask Blockchain</a>
    @if (isChairPerson && !initialized) {
    <button
      type="button"
      class="btn btn-secondary"
      (click)="showFormStartElection = !showFormStartElection"
    >
      {{ initializeCaption }}
    </button>
    }
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            href="https://cloud.google.com/application/web3/faucet/ethereum/sepolia"
            target="_blank"
            class="btn"
            >Google ETH</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://faucets.chain.link/sepolia"
            target="_blank"
            class="btn"
            >Chainlink ETH</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/JosVermoesen/blockchain-election"
            target="_blank"
            class="btn"
            >Github Source code</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="contract-info" class="bg-light text-center">
  <h3>Election Contract (web3 v4.11.0)</h3>
  <small>Powered By Sepolia Testnet on Angular 18.1</small>
  <h5>** work in progress **</h5>
  @if (initialized) {
  <div class="container">
    <div>
      Hello, {{ myAddress }}
      <!-- Modal Button -->
      @if (contractReady) { @if ((!isChairPerson
      &&!canVote)) {
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#myPermissionModal"
        (click)="permissionForm.controls['voterAddress'].setValue(myAddress)"
      >
        Ask permission to vote
      </button>
      } @if (!isChairPerson && canVote && !hasVoted) {
      <button (click)="vote()" type="button" class="btn btn-secondary">
        Click on candidate to vote'
      </button>
      } @if(isChairPerson) {
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#givePermissionModal"
      >
        Give permission to vote
      </button>
      }
      @if (hasVoted) {
        you have voted already
      }
     }
    </div>
  </div>
  <br />
  }
</section>

<section id="election-initialize">
  @if (showFormStartElection) {

  <app-election-create
    (electionCreated)="handleElectionCreate($event)"
  ></app-election-create>
  }
</section>

<section id="candidates">
  @if (!showFormStartElection) {
  <div class="container">
    <div class="card-group">
      <app-election
        *ngFor="let candidate of candidatesArray; index as candidateId"
        [candidateId]="candidateId"
        [candidateName]="candidate.name"
        [candidateImage]="candidate.imageUrl"
        [candidateVotes]="candidate.voteCount"
      ></app-election>
    </div>
    @if (!contractReady) {
    <div>
      <hr />
      <h3>One moment please...</h3>
    </div>
    }
  </div>
  }
</section>

<!-- GetPermissionModal -->
<div class="modal fade" id="myPermissionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="myModalLabel">
          Give me permission to vote please
        </h1>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="permissionForm" (ngSubmit)="sendEmail()">
          <div class="mb-3">
            <label class="form-label">My Address</label>
            <input
              formControlName="voterAddress"
              type="text"
              readonly
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">My Email</label>
            <input
              formControlName="voterEmail"
              type="email"
              placeholder="valid email address"
              class="form-control"
            />
          </div>

          <div class="modal-footer">
            <button
              [disabled]="!permissionForm.valid"
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              {{ sendEmailCaption }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- GivePermissionModal -->
<div class="modal fade" id="givePermissionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="myModalLabel">Allow to vote</h1>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="givePermissionForm" (ngSubmit)="givePermission()">
          <div class="mb-3">
            <label class="form-label">Voters Address</label>
            <input
              formControlName="voterAddress"
              type="text"
              class="form-control"
            />
          </div>

          <div class="modal-footer">
            <button
              [disabled]="!givePermissionForm.valid"
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              {{ givePermissionCaption }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
