<nav id="simple-navbar" class="navbar navbar-expand-md bg-light">
  <div class="container">
    <a href="#" class="navbar-brand">Metamask Blockchain</a>
    @if (isChairPerson && !initialized) {
    <button
      type="button"
      class="btn btn-secondary"
      (click)="showFormStartElection = !showFormStartElection"
    >
      {{ initializeCaption }}
    </button>
    }
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            href="https://cloud.google.com/application/web3/faucet/ethereum/sepolia"
            target="_blank"
            class="btn"
            >Google ETH</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://faucets.chain.link/sepolia"
            target="_blank"
            class="btn"
            >Chainlink ETH</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/JosVermoesen/blockchain-election"
            target="_blank"
            class="btn"
            >Github Source code</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="contract-info" class="bg-light text-center">
  <h3>Election Contract (web3 v4.11.0)</h3>
  <small>Powered By Sepolia Testnet on Angular 18.1</small>
  <h5>** work in progress **</h5>
  @if (busyWeb3) {
  <div>
    <hr />
    <h3>One moment please...</h3>
  </div>
  } @if (initialized) {
  <div class="container">
    <div>
      Hello, {{ myAddress }}
      <button
        (click)="askPermissionToVote()"
        type="button"
        class="btn btn-secondary"
      >
        Ask permission to vote
      </button>
    </div>
  </div>
  <br />
  }
</section>

<section id="election-initialize">
  @if (showFormStartElection) {

  <app-election-create
    (electionCreated)="handleElectionCreate($event)"
  ></app-election-create>
  }
</section>

<section id="candidates" class="mb-8">
  @if (!showFormStartElection) {
  <div class="container">
    <div class="row">
      <div *ngIf="!showFormStartElection">
        <app-election
          *ngFor="let candidate of candidatesArray"
          [candidateId]="candidate.id"
          [candidateName]="candidate.name"
          [candidateImage]="candidate.imageUrl"
          [candidateVotes]="candidate.voteCount"
        ></app-election>
      </div>
    </div>
  </div>
  }
</section>

<section id="poll-history">
  <div class="container">
    <div class="row">
      <div class="d-flex">
        <div class="container poll-list">
          <div></div>
        </div>

        <div class="container poll-split">
          <div class="col-ld-1"></div>
        </div>

        <div class="container poll-detail">
          <div class="col-ld-5">
            <div *ngIf="!showFormStartElection">
              <!-- <app-poll-vote
                *ngIf="activePoll"
                [id]="activePoll.id"
                [voted]="activePoll.voted"
                [question]="activePoll.question"
                [options]="activePoll.options"
                [results]="activePoll.results"
                (pollVoted)="handlePollVote($event)"
              ></app-poll-vote> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
